<%= image_tag "znak_ka.png", :style => "position: relative; top: -83px; left: 80px;" %>
    <div id="left-col">
      <div id="welcome">
        <ul>
          <li><%= link_to image_tag("twitter_logo.png") %></li>
          <li><%= link_to image_tag("facebook_logo.png") %></li>
          <li><%= link_to image_tag("vkontakte_logo.png") %></li>
        </ul>
      </div>
      <div id="disign_services"> </div>
      <div id="warning"> </div>
    </div>
    <div id="section_body">
      <div id="content"> 
        
      </div>
    </div>
