<div id="footer">
  <p>© Дизайн студия «Art-Trend DESIGN», 2009-2011</p>
  <p>Г. Казань, ул. Красносельская 51а, офис 531 (ост. Энергоинститут)</p>
  <p>Тел: (843) 562 41 52</p>
  <img style="position: relative; float: right; top: -38px;" src="img/footer_logo.png" />
</div>